@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #EF8354;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EF8354, #F2B79D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EF8354, #F2B79D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
    font-family: 'Quicksand';
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#BFC0C0;}
.login-sec .copy-text a{color:#BFC0C0;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #EF8354;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#BFC0C0; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #EF8354; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}


.navbar-custom {
    width: 100%;
    height: 55px;
  }
  
  .navbar-brand{
      font-family: 'Pacifico', cursive;
      color: #EF8354;
      font-size: 2em;
      margin-left: 3em;
      margin-right: 1em;
  }
  
  .navbar-brand:hover{
    color: #4F5D75;
  }
  
  .nav-item{
      font-family: 'Quicksand', sans-serif;
      text-align: center;
  }
  
  .nav-link{
      color: #4F5D75;
      font-size: 1em;
  }
  .nav-link:hover{
    color: #BFC0C0;
    font-size: 1em;
  }

  .fondo-nav{
    background-color: #FFFFFF;
    border-bottom: 1px solid #BFC0C0;
  }
  
  .active-pink-4 input[type=text]:focus:not([readonly]) {
      border: 1px solid #BFC0C0;
      box-shadow: 0 0 0 1px #BFC0C0;
    }
    .active-pink-3 input[type=text] {
      border: 1px solid #BFC0C0;
      box-shadow: 0 0 0 1px #BFC0C0;
      font-family: 'Quicksand', sans-serif;
      font-size: 1em;
      height: 1.5em;
      margin-right: 2em;
    }

.btn{
  font-family: 'Quicksand', sans-serif;
  border-color: #EF8354;
  font-size: 0.95em;
}

.btn-round{
  border-radius: 17em;
}

.btn-info1{
  background-color: #EF8354;
  color: #ffffff;
}
.btn-info{
  color: #EF8354;
  background-color: #ffffff;
}
.btn:hover{
  color: #ffffff;
  background-color: #4F5D75;
}

.p1{
  color: #ff2f2f;
  font-size: 0.8em;
}



