.navbar-custom {
  width: 100%;
  height: 55px;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    color: #EF8354;
    font-size: 2em;
    margin-left: 3em;
    margin-right: 1em;
}

.navbar-brand:hover{
  color: #4F5D75;
}

.nav-item{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.nav-link{
    color: #4F5D75;
    font-size: 1em;
}
.nav-link:hover{
  color: #BFC0C0;
  font-size: 1em;
}

.fondo-nav{
  background-color: #FFFFFF;
  border-bottom: 1px solid #BFC0C0;
}

.active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #BFC0C0;
    box-shadow: 0 0 0 1px #BFC0C0;
  }
  .active-pink-3 input[type=text] {
    border: 1px solid #BFC0C0;
    box-shadow: 0 0 0 1px #BFC0C0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    height: 1.5em;
    margin-right: 2em;
  }



.btn-round{
    font-family: 'Quicksand', sans-serif;
    border-color: #EF8354;
    font-size: 0.95em;
    color: #EF8354;
    background-color: #ffffff;
    border-radius: 17em;
}

.btn:hover{
  color: #ffffff;
  background-color: #4F5D75;
}

.dropdown-menu {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.95em;
}





/*CSS del formulario*/

  .form-group{
    font-family: 'Quicksand', sans-serif;
    color: #EF8354;
    margin-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    margin-right:0px;
    margin-left:0px;
  }

  .col-lg-6{
    position:relative;
    min-height:1px;
    padding-right:-5px;
    padding-left:-10px;
    float:left;
    width:50%;
  }
  .col-md-6{
    font-family: 'Quicksand', sans-serif;
    position:middle;
    margin-bottom:100px;
    min-height:0px;
    padding-right:-100px;
    padding-left:-100px;
    float:left;
    width:100%;
  }

  .container-fluid{
      padding-right:15px;
      padding-left:15px;
      margin-right:auto;
      margin-left:auto;
      margin-left:-15px
    }

  .container-page{
    margin: auto;
    width:1000px;
    padding: 15px;
    }

    .dark-grey{
        font-family: 'Quicksand', sans-serif;
        width: 500px;
        padding: 15px;
        
    }

    .btn-secondary{
        float: right;
        width: 150px;
        font-family: 'Quicksand', sans-serif;
    }
    
    .btn-info1{
      background-color: #EF8354;
      color: #ffffff;
    }
    .btn-info{
      color: #EF8354;
      background-color: #ffffff;
    }


    .botonregister{
        font-family: 'Quicksand', sans-serif;
        border-color: #EF8354;
        font-size: 0.95em;
        color: #EF8354;
        background-color: #ffffff;
    }
    .botonregister:hover{
      color: #ffffff;
      background-color: #EF8354;
    }
    .alerta{
      font-family: 'Quicksand', sans-serif;
      color: #ff2f2f;
      font-size: 0.75em;
    } 
    